{# 

	base.html
	designed by Raon Park

	using html5, css3 with jQuery

#}

{% import "include/macro.html" as macro %}

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>pkmstorage :: 메뉴이름</title>

		<link rel="stylesheet" type="text/css" href="/pkm/static/css/style.css">

		<script type="application/javascript" src="/pkm/static/js/jquery.1.8.2.js"></script>
		<script type="application/javascript" src="/pkm/static/js/jquery.mediaquery.js"></script>
		<script type="application/javascript" src="/pkm/static/js/jquery.slider.js"></script>

		<script type="application/javascript">
			{% block script %}{% endblock %}
		</script>

		<script type="application/javascript">
			jQuery(function($){
				$('.login input').focus(function(){
					$('.login').addClass('selected');
				})

				$('.login input').blur(function(){
					$('.login').removeClass('selected');
				});
			});
		</script>
	</head>
	<body>
		<header>
			<div class="wrap">
				<div class="relative">
					<div class="logo">
						<a href="/pkm/">
							로고나 만들어
						</a>
					</div>
					<nav>
						{{ macro.menu("menu", Menu, ActiveMenu) }}
					</nav>
					<div class="login">
						<form action="/pkm/login" method="post">
							<input type="text" name="Id" class="loginTb" placeholder="아이디">
							<input type="password" name="Pw" class="loginTb" placeholder="비밀번호">
							{{ csrf_token_input }}
							{{ macro.submit('로그인', 'loginBtn') }}
						</form>
					</div>
				</div>
			</div>
		</header>
		<article class="wrap">
			{% block content %}{% endblock %}
		</article>
		<footer class="wrap">
			<div class="creators">
				<b>pkm 분석</b> 헤드
				<b>서버</b> 유성매직
				<b>디자인</b> 라온
			</div>
			<div class="copyright">
				copyright &copy; 2012 ~ <b>pkmstorage</b>. all rights reserved.
			</div>
		</footer>
	</body>
</html>