{% extends "base.html" %}

{% block content %}
<div class="row">
	<!-- slider -->
	<div class="left" style="width: 75%;">
		<div class="slider" style="max-height: 300px; overflow: hidden;">
			<div>
				<div class="description">
					<div class="title">
						포켓몬에 대한 이야기를 자유롭게 나누세요.
					</div>
					<div class="content">
						프큼저장소에서는 당신의 포켓몬을 다른 사람들에게 공유하고, 다른 사람들의 포켓몬에 대해서 의견을 자유롭게 나눌 수 있습니다.
					</div>
				</div>
				<img src="http://ra-on.net/layouts/raon/images/slider/BrowserUpgrade.jpg" style="width: 100%;">
			</div>
		</div>
	</div>

	<!-- join -->
	<div class="right" style="width: 22%;">
		<div class="bg" style="height: 265px;">
			<div class="title">가입하기</div>
			<div class="content">
				회원 가입 폼
			</div>
		</div>
	</div>
</div>
{% endblock %}