{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="left" style="width: 20%;">
		<div class="bg">
			<div class="title">
				업로드 절차
			</div>
			<div class="content">
				1. 업로드 절차가<br>
				2. 들어갑니다.
			</div>
		</div>
	</div>
	<div class="right" style="width: 78%">
		<div class="bg">
			<div class="title">
				업로드
			</div>
			<div class="content">
				{% if UploadResult %}
				{{ UploadResult }}
				{% endif %}

				<form action="/pkm/upload" method="post" enctype="multipart/form-data">
					<div class="row">
						<div class="left">
							<div>
								<input type="file" name="Pkm">
							</div>
							<div>
								<input type="checkbox" name="Secret" id="Secret">
								<label for="Secret">비공개</label>
							</div>
						</div>
						<div class="right">
							{{ csrf_token_input }}
							{{ macro.submit('업로드', 'btn') }}
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="bg">
			<div class="title">
				최근 업로드된 포켓몬들
			</div>
		</div>
	</div>
</div>
{% endblock %}
