{# 
	macros (included in base.html)
	by Raon Park

	defining the macros and giving description of the macros
#}

{#
	button(value, id)

	parameter:
	value : the button's display text (ex. 계속)
	id : the button's id
#}
{% macro button(value, id) -%}
<input type="button" value="{{ value }}" id="{{ id }}" class="btn">
{%- endmacro %}

{#
	submit(value, id)

	parameter:
	value : the button's display text (ex. 로그인)
	id : the button's id
#}
{% macro submit(value, id) -%}
<input type="submit" value="{{ value }}" id="{{ id }}" class="btn">
{%- endmacro %}

{#
	ul(class, liList, selected)

	parameter:
	class : the class of the ul
	liList : the values inside the li, type "list". [['menu1', 'link1'], ['menu2', 'link2']]
	selected : selected menu name. (ex. menu1) defVal: ""
#}
{% macro ul(class, liList, selected="") -%}
<ul class="{{ class }}">
	{% for liVal in liList %}
	<li {% if liVal[0] == selected %}class="selected"{% endif %}>
		<a href="{{ liVal[1] }}">
			{{ liVal[0] }}
		</a>
	</li>
	{% endfor %}
</ul>
{%- endmacro %}

{#
	menu(class, liList, selected)

	parameter:
	class : the class of the menu
	liList : the values inside the li, type "list". [['menu1', 'link1'], ['menu2', 'link2']]
	selected : selected menu name. (ex. menu1) defVal: ""
#}
{% macro ul(class, liList, selected="") -%}
<menu class="{{ class }}">
	{% for liVal in liList %}
	<li {% if liVal[0] == selected %}class="selected"{% endif %}>
		<a href="{{ liVal[1] }}">
			{{ liVal[0] }}
		</a>
	</li>
	{% endfor %}
</menu>
{%- endmacro %}